* {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

p {
    text-align:center;
}

body {
    background-color:cornflowerblue;
}

h1, h2 {
    color:bisque;
    text-align:center;
}

button {
    background-color:white;
    color:navy;
    font-size:15px;
    padding:30px,45px;
    border-radius:20px;
}

button:hover {
    background-color:gray;
    color:navy;
    font-size:15px;
    padding:30px,45px;
    border-radius:20px;
}

.teams {
    display: flex;
    justify-content: space-around;
    align-items: center;
}